.header{
    
    
    height: 50px;
    display: flex;
    background-color: indianred;
    align-items: center;
    justify-content: center;
}
.header a{
    text-decoration: none;
    color:black;
}
body{

    margin: 0;
}
.logo{
    height: auto;
    width: 100px;
    display: inline-block;
}
.header > ul{
    list-style-type: none;
    display: flex;
}